{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}


	<div class="page-header">
	 
	  <h1 class="underline-page-header">MEETING AREA INFO</h1>

	</div>

<div class="main-body-content">
<p>Junction Meeting area will be active on Saturday from 10:00 to 19:00 at tent outside of the Dipoli. We’ll have pre scheduled 15 minutes meetings during the day and snacks and there will be snacks and coffee available.</p> 

<p>Pre scheduled meetings will be scheduled with partners and participants with Junction Matchmaking Tool. Matchmaking will match partners and participants based on participants skill profile and how well it matches with partners profile.</p> 

<p>One participant can only have 3 pre scheduled meetings during the Junction and they are either looking actively for a job or up for discussions.</p> 

<p>For every partner, we’ll provide a list of the most suitable participants and schedule meetings for Saturday based on partner's preferences. There will be more detailed info about the timetables etc. before the Saturday.</p> 

<p>At the Matchmaking Tool you’ll fill your company’s target profile where you choose what sort of skillset you are looking for. You’ll also fill basic info such as, contact info, how many 15 minute meetings you would like to have at Saturday, what time you’ll have your people around and how many of you are coming. 
If you have any questions concerning the Meeting Area, please be in contact.</p>

<p>tatu.koivisto@hackjunction.com or +358504314995</p>

</div>


{% endblock %}
