{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}


	<div class="page-header">
	 
	  <h1 class="underline-page-header">Junction Matchmaking Tool</h1>

	</div>

<div class="main-body-content">
	
	<p>Junction Meeting area will be active on Saturday from 10:00 to 19:00 at a tent outside of the Dipoli. Partners will receive a list of the participants that matches their preferences. Meetings are 15 minutes long and they are pre-scheduled before the Saturday.</p>
	
	<p>Meetings will be scheduled with partners and participants through this platform - the Junction Matchmaking Tool. Matchmaking will match partners and participants based on participants skill profile and how well it matches with partners profile. The partners are allowed to submit a maximum of two employee profiles to the platform. All participants in the Meeting area are either looking actively for a job or up for discussions.</p>
	
	<p>Submit your profiles to the platform <a href="{{url_for('home')}}">HERE</a>.</p>
	
	<p>For every partner, we’ll also provide additional participant data after the event to find the most promising future employees amongst our participants.</p>
	
	<p>You will be provided a detailed layout of the Meeting area, matchmaking lists and scheduling tools before the event. If you have any questions concerning the Meeting area and matchmaking, please be in contact.</p>
	
	<p>
	Tatu Koivisto<br>
	Junction Meeting area<br>
	+358 50 431 4995<br>
	<a href="mailto:tatu.koivisto@hackjunction.com" target="_top">tatu.koivisto@hackjunction.com</a>

	</p>

</div>


{% endblock %}
