{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="page-header">
  <h1 class="underline-page-header">MEETING AREA FORM</h1>
</div>
<div align="center">
  {% if success %}
  <div class="alert alert-success">
    <strong>Success!</strong> Your data has been saved. Sit tight for schedule!
  </div>
  {%endif %}
</div>
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
  <strong>There were errors in the form:</strong><br>
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
</div>

{% endif %}
{% endwith %}


<div class="ui stackable page grid main-body-content">
  <div class="column">
    <form method="post" class="form" action="/">
      {{ form.csrf_token }}
      <div class="field ui input">
        <label>Company Name</label>
        {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
      </div>
      <div class="field ui input">
        <label>Contact email</label>
        {{ form.contact_email(class_ = 'form-control', placeholder = form.contact_email.label.text, required = true, autofocus = true) }}
      </div>

      <div class="field ui input">

        <label>How many persons will you have available for the Meeting Area on Saturday? Maximum amount of personnel for company is specified in the contract.Please make sure that you have badges available on Saturday.</label>
        {{ form.personnel_present(class_ = 'form-control', placeholder = '', required = true, autofocus = true) }}
      </div>
      <div class="field ui input">
        <label>What time will you be present at the Meeting Area?</label>
        {{ form.time_present(class_ = 'form-control', placeholder = form.time_present.label.text, required = true, autofocus = true) }}
      </div>
      <div class="field ui input">
        <label>What is optimal amount of meetings you would like to have with our participants on Saturday? We are mapping the needs of our partners and this number will not automatically translate to actual meetings at the event.</label>
        <!-- vaihtohdot: INT -->
        {{ form.amount_meetings(class_ = 'form-control', placeholder = form.amount_meetings.label.text, required = true, autofocus = true) }}
      </div>

      <!-- UUSI ALKAA-->

      <div class="field ui input">
        <label>Describe your company. What stregnths do you have and why should developers be interested in you?</label>
        <!-- vaihtohdot: Part time, Full time, Both -->
        {{ form.amount_meetings(class_ = 'form-control', placeholder = form.amount_meetings.label.text, required = true, autofocus = true) }}
      </div>

      <div class="field ui input">
        <label>Are you looking full time or part time employees?</label>
        <!-- vaihtoehdot: Part time, Full time, Both -->
        {{ form.amount_meetings(class_ = 'form-control', placeholder = form.amount_meetings.label.text, required = true, autofocus = true) }}
      </div>

      <div class="field ui input">
        <!-- vaihtoehdot: 1 year, 1-2 years, 3-5 years, 5+ -->
        <label>Wished coding experience in years?</label>
        {{ form.amount_meetings(class_ = 'form-control', placeholder = form.amount_meetings.label.text, required = true, autofocus = true) }}
      </div>
      <!-- UUSI LOPPUU -->


      <p class="form-info-text">Next, we'll need information about your companys preferences. Think about the programming languages necessary for your employees and fill out the skills to create a future employee dream profile.</p>

      <div class="field input">
        <label>Excellent skills</label>
        {{ form.excellent_skills(class_ = 'form-control ui multiple selection dropdown excellent', placeholder = form.excellent_skills.label.text, required = true, autofocus = true) }}
      </div>
      <div class="field">
        <label>Nice to have skills</label>
        {{ form.extra_skills(class_ = 'form-control ui multiple selection dropdown nice', placeholder = form.extra_skills.label.text, required = true, autofocus = true) }}
      </div>

      <!-- UUSI ALKAA -->
      <div class="field ui input">
        <!-- vaihtoehto: long text -->
        <label>You can fill here a short job description for your company.</label>
        {{ form.amount_meetings(class_ = 'form-control', placeholder = form.amount_meetings.label.text, required = true, autofocus = true) }}
      </div>
      <div class="field ui input">
        <!-- vaihtoehto: long text -->
        <label>Here you can describe the skill's needed for the job.</label>
        {{ form.amount_meetings(class_ = 'form-control', placeholder = form.amount_meetings.label.text, required = true, autofocus = true) }}
      </div>
      <!-- UUSI LOPPUU -->



      <input type="submit" value="Submit" class="button-sea-serpent">
    </form>
  </div>
</div>

<script>
  // Hey, I'm doing this for free, don't judge me!
  var changing = false;
  var skills = {{ skills|safe }};

  $('.ui.dropdown.nice').dropdown({
    onChange: function(value, text, $choice){
      updateNiceDropdown();
    }
  });

  $('.ui.dropdown.excellent').dropdown({
    onChange: function(value, text, $choice){
      updateExcellentDropdown();
    }
  });

  function updateExcellentDropdown() {
    if (changing) return;
    changing = true;

    var excellentSelected = $('.ui.dropdown.excellent').dropdown('get value');
    var niceSelected = $('.ui.dropdown.nice').dropdown('get value');

    var arr = [];
    for (var i = 0; i < skills.length; i++) {
      var s = skills[i];
      if (excellentSelected.indexOf(s) > -1) continue;
      arr.push({value: s, name: s});
    }
    

    $('.ui.dropdown.nice')
      .dropdown('change values', arr);
    $('.ui.dropdown.nice')
      .dropdown('set selected', niceSelected);

    changing = false;
  }

  function updateNiceDropdown() {
    if (changing) return;
    changing = true;

    var excellentSelected = $('.ui.dropdown.excellent').dropdown('get value');
    var niceSelected = $('.ui.dropdown.nice').dropdown('get value');

    var arr = [];
    for (var i = 0; i < skills.length; i++) {
      var s = skills[i];
      if (niceSelected.indexOf(s) > -1) continue;
      arr.push({value: s, name: s});
    }

    $('.ui.dropdown.excellent')
      .dropdown('change values', arr);
    $('.ui.dropdown.excellent')
      .dropdown('set selected', excellentSelected);

    changing = false;
  }

  $('.ui.dropdown.title').dropdown();
  updateExcellentDropdown();
  updateNiceDropdown();
</script>


{% endblock %}
