{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="page-header">
  <h1 class="underline-page-header">MEETING AREA FORM</h1>
</div>
<div align="center">
  {% if success %}
  <br>
  <br>
  <div class="alert alert-success">
    <strong>Success!</strong> Your data has been saved. Sit tight for schedule! Update the submitted profile by editing this form.
  </div>
  {%endif %}
</div>
<br>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
  <strong>There were errors in the form:</strong><br>
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
</div>

{% endif %}
{% endwith %}


<div class="ui stackable page grid main-body-content">
  <div class="column">
    <form method="post" class="form" action="/" novalidate>
      {{ form.csrf_token }}
      <div class="field ui input">
        <label>Company Name</label>
        {{ form.name(class_ = 'form-control first-input', placeholder = "Company", required = true, autofocus = true) }}
      </div>
      <div class="field ui input">
        <label>Contact email</label>
        {{ form.contact_email(class_ = 'form-control', placeholder = "Email", required = true) }}

      </div>

      <div class="field ui input">

        <label>How many persons will you have available for the Meeting Area on Saturday? Maximum amount of personnel for company is specified in the contract. Please make sure that you have badges available on Saturday.</label>
        {{ form.personnel_present(class_ = 'form-control', placeholder = "Number of personel", required = true) }}
      </div>
      <div class="field ui input">
        <label>What time will you be present at the Meeting Area?</label>
        {{ form.time_present(class_ = 'form-control', placeholder = "9:00 - 17:00 e.g.", required = true) }}
      </div>
      <div class="field ui input">
        <label>What is optimal amount of meetings you would like to have with our participants on Saturday? We are mapping the needs of our partners and this number will not automatically translate to actual meetings at the event.</label>

        {{ form.amount_meetings(class_ = 'form-control', placeholder = "2 e.g.", required = true) }}
      </div>


      <div class="field ui input">
        <label>Describe your company. What strengths do you have and why should developers be interested in you?</label>
        {{ form.company_strengths(class_ = 'form-control form_text_area', placeholder = "Description", required = true) }}
      </div>

      <p class="form-info-text">Next, we'll need information about your companys preferences for the best possible matching between your company and our participants.</p>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#profile1" role="tab" data-toggle="tab">Employee Profile 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#profile2" role="tab" data-toggle="tab">Employee Profile 2</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
      {% for l in form.applicants %}
      {{ l.form.csrf_token }}
        {% if loop.first %}
        <div role="tabpanel" class="tab-pane active" id="profile{{ loop.index }}">
        {% else %}
        <div role="tabpanel" class="tab-pane" id="profile{{ loop.index }}">
        {% endif %}

        <div class="field ui input">
            <label>Are you looking full time or part time employees?</label>
            {{ l.form.job_nature(class_ = 'form-control radio-list', placeholder = l.form.job_nature.label.text, required = true) }}
          </div>
    
          <div class="field ui input">
            <label>Wished coding experience in years?</label>
            {{ l.form.experience_in_years(class_ = 'form-control radio-list', placeholder = l.form.experience_in_years.label.text, required = true) }}
          </div>
    
    
          <div class="field input">
            <label>Excellent skills</label>
            {{ l.form.excellent_skills(class_ = 'form-control ui multiple selection dropdown excellent', placeholder = l.form.excellent_skills.label.text, required = true) }}
          </div>
          <div class="field">
            <label>Nice to have skills</label>
            {{ l.form.extra_skills(class_ = 'form-control ui multiple selection dropdown nice', placeholder = l.form.extra_skills.label.text, required = true) }}
          </div>
          <div class="field ui input">
            <label>Here you can further describe the skills and qualities needed for the job.</label>
            {{ l.form.skills_description(class_ = 'form-control form_text_area', placeholder = "Description", required = true) }}
          </div>
    
    
          <div class="field ui input">
            <label>You can fill here a short job description for a position at your company.</label>
            {{ l.form.job_description(class_ = 'form-control form_text_area', placeholder = "Description", required = true) }}
          </div>  
        </div>
      
      {% endfor %}


</div>


      

      
      <input type="submit" value="Submit" class="button-sea-serpent">

    </form>
  </div>
</div>

<script>
  // Hey, I'm doing this for free, don't judge me!
  // It's cool mate.
  var changing = false;
  var skills = {{ skills|safe }};

  $('.ui.dropdown.nice').dropdown({
    onChange: function(value, text, $choice){
      //updateNiceDropdown();
    }
  });

  $('.ui.dropdown.excellent').dropdown({
    onChange: function(value, text, $choice){
      //updateExcellentDropdown();
    }
  });

  function updateExcellentDropdown() {
    if (changing) return;
    changing = true;

    var excellentSelected = $('.ui.dropdown.excellent[tabindex=0]').dropdown('get value');
    var niceSelected = $('.ui.dropdown.nice[tabindex=0]').dropdown('get value');

    var arr = [];
    for (var i = 0; i < skills.length; i++) {
      var s = skills[i];
      if (excellentSelected.indexOf(s) > -1) continue;
      arr.push({value: s, name: s});
    }
    

    $('.ui.dropdown.nice[tabindex=0]')
      .dropdown('change values', arr);
    $('.ui.dropdown.nice[tabindex=0]')
      .dropdown('set selected', niceSelected);

    changing = false;
  }

  function updateNiceDropdown() {
    if (changing) return;
    changing = true;

    var excellentSelected = $('.ui.dropdown.excellent[tabindex=0]').dropdown('get value');
    var niceSelected = $('.ui.dropdown.nice[tabindex=0]').dropdown('get value');

    var arr = [];
    for (var i = 0; i < skills.length; i++) {
      var s = skills[i];
      if (niceSelected.indexOf(s) > -1) continue;
      arr.push({value: s, name: s});
    }

    $('.ui.dropdown.excellent[tabindex=0]')
      .dropdown('change values', arr);
    $('.ui.dropdown.excellent[tabindex=0]')
      .dropdown('set selected', excellentSelected);

    changing = false;
  }

  $('.ui.dropdown.title').dropdown();
  //updateExcellentDropdown();
  //updateNiceDropdown();
</script>


{% endblock %}
