{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<script>
  $('.ui.dropdown') .dropdown();
</script>
<div class="head-content">
  <div class="page-header">
    <h1 class="underline-page-header">MEETING AREA FORM</h1>
  </div>
</div>
<div class="ui stackable page grid main-body-content">
  <div class="column">
    <p class="lead">Data from this form is used for matchmaking and scheduling. </p>
    <form method="post" class="form" action="/">
      {{ form.csrf_token }}
      <div class="field ui input">
        <label>Company Name</label>
        {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
      </div>
      <div class="field ui input">
        <label>Contact email</label>
        {{ form.contact_email(class_ = 'form-control', placeholder = form.contact_email.label.text, required = true, autofocus = true) }}
      </div>


      
        

      <!-- <div class="field">
        <label>Titles that you are hiring for</label>
        {{ form.titles(class_ = 'form-control ui multiple selection dropdown', placeholder = form.titles.label.text, required = true, autofocus = true) }}
      </div> -->

      <div class="field">
        <label>How many persons will you have available for the Meeting Area at Saturday?</label>
        {{ form.amount_meetings(class_ = 'form-control ui multiple selection dropdown', placeholder = form.amount_meetings.label.text, required = true, autofocus = true) }}
      </div>
      <div class="field">
        <label>What time will you be at the Meeting Area? Arrive, leave and lunch?</label>
        {{ form.amount_meetings(class_ = 'form-control ui multiple selection dropdown', placeholder = form.amount_meetings.label.text, required = true, autofocus = true) }}
      </div>

      <div class="field">
        <label>How many meetings with our participants would like to have?</label>
        {{ form.amount_meetings(class_ = 'form-control ui multiple selection dropdown', placeholder = form.amount_meetings.label.text, required = true, autofocus = true) }}
      </div>

      <p class="lead">Please think about the programming languages necessary for your employees. Then fill out the skills and create a future employee dream profile. We'll use this profile when matching your company with participants.</p>

      <!-- NÄÄ PITÄÄ YHTENÄISTÄÄ, OON VAIHDELLU NIMIÄ JNE -->
      <div class="field input">
        <label>Excellent skills</label>
        {{ form.excellent_skills(class_ = 'form-control ui multiple selection dropdown', placeholder = form.excellent_skills.label.text, required = true, autofocus = true) }}
      </div>
      <div class="field">
        <label>Multiple projects</label>
        {{ form.extra_skills(class_ = 'form-control ui multiple selection dropdown', placeholder = form.extra_skills.label.text, required = true, autofocus = true) }}
      </div>
      <div class="field">
        <label>Limited experience</label>
        {{ form.extra_skills(class_ = 'form-control ui multiple selection dropdown', placeholder = form.extra_skills.label.text, required = true, autofocus = true) }}
      </div>


      <input type="submit" value="Submit" class="button-sea-serpent">
    </form>
  </div>
</div>




{% endblock %}
