
/**
 * @file
 * Main stylesheet file.
 */




/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}

.container {
  padding-top: 50px!important;
  padding-bottom: 50px!important;
}


h1 {
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	text-align: center;
}
a {
  cursor: pointer;
}
.field {
  margin-top: 10px;
}

::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}

.header-logo {
	width: 30%;
	display: block;
	margin: auto;
}
/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/


.field {
	clear: both;
    margin: 0 0 1em;
}
.form-control {
	    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #232323;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    border-radius: 0;
    font-weight: 300;
    

}
.form-control:focus {
	border-color: #85b7d9;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.form-control::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.form-control:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}

a {
    color: #5ABECF;
}
a:hover {
    color: #1e70bf;
    text-decoration: none;
}

.button-sea-serpent {
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    background-color: #5ABECF!important;	
    border: none;
    line-height: 1em;
	margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    font-weight: 700;
    color: #FFF;
}

.navbar-default {
	background: #232323!important;
	border: none;
	font-weight: 300;
	text-transform: uppercase;
  border-radius: 0;

}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #35e2df !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: #232323!important;
	color: #FFF;
} 

.navbar-toggle {
	border: none;
}
.icon-bar {
	background-color: #FFF!important;
}

.ui.input input {
  min-height: 2.71428571em;
  border-radius: 0;
}

.ui.selection.dropdown {
  border-radius: 0;

}

.ui.input {
  display: inherit;
  color: #FFF;
}

.alert-warning {
  margin-top: 10px;
  max-height: 2.71428571em;
}

.head-content {
  margin-bottom: 50px;
}

.underline-page-header {
  border-bottom: 10px solid #35E2DF;
  margin-top: 0px;
  margin-bottom: 10px; 
  width: max-content;
  line-height: 45px;
  
}
.page-header {
  border-bottom: none;
}

.ui.page.grid {
  padding-left: 0px;
  padding-right: 0px;
}
.ui.grid>.column:not(.row) {
  padding-left: 0px;
  padding-right: 0px;
}
.lead {
  margin-bottom: 10px;
}
label {
  font-weight: 400;
  margin-top: 30px;
  
}
.form-info-text {
  margin-top: 30px;
  margin-bottom: 0px;
}
#nav-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}

.navbar-nav {
  flex-direction: row;
  margin-left: 10px;
}

#nav_1, #nav_1 {
  float: left;
  display: block;
}

.main-body-content {
  margin-top: 20px!important;
}



@media screen and (max-width: 600px) {
   #nav-logo {
        visibility:hidden;
    }
}

.ui.grid>.column:only-child, .ui.grid>.row>.column:only-child {
  padding-top: 0px;
}



/*@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}*/

@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px!important;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 32px;
  }
}

