{% extends 'layouts/form.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <form method="post" class="form">
    <h3 class="form-heading">Login <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>

    <div class="field">
        <label class="form-label">Name</label>
    	{{ form.name(class_ = 'form-control first-input', required = true, autofocus = true) }}
	</div>
	<div class="field">
        <label class="form-label">Password</label>
    	{{ form.password(class_ = 'form-control last-input', required = true) }}
	</div>
    <p class="pull-left"><a href="{{ url_for('forgot') }}">Forgot Password?</a></p>
    <p class="pull-right"><a href="{{ url_for('register') }}">Register</a></p>
    <input type="submit" value="Submit" class="button-sea-serpent" disabled>
    <p>You must add database as well as Flask-Login to enable user management. See the <a href="http://www.realpython.com">Real Python</a> course for more info!</p>
  </form>
{% endblock %}
