{% extends 'layouts/form.html' %}
{% block title %}Register{% endblock %}
{% block content %}

  <form method="post" class="form">
    {{ form.csrf_token }}
    <h3 class="form-heading">Register</h3>
    {% for field in form.errors %}
      {% for error in form.errors[field] %}
          <div class="alert alert-error">
              {{error}}
          </div>
      {% endfor %}
    {% endfor %}
    {% for error in errors %}
        <div class="alert alert-error">
            {{error}}
        </div>
    {% endfor %}
    <div class="field ui input">
    <label class="form-label">Name</label>
        {{ form.name(class_ = 'form-control first-input', required = true, autofocus = true) }}
    </div>

    <div class="field ui input">
        <label class="form-label">Email</label>
        {{ form.email(class_ = 'form-control', required = true) }}
    </div>
    <div class="field ui input">
        <label class="form-label">Password</label>
        {{ form.password(class_ = 'form-control', required = true) }}
    </div>
    <div class="field ui input">
        <label class="form-label">Repeat Password</label>
        {{ form.confirm(class_ = 'form-control last-input', required = true) }}
    </div>
    <p class="pull-left"><a href="{{ url_for('login') }}">Login</a></p>
    <input type="submit" value="Register" class="button-sea-serpent">

  </form>
{% endblock %}
